In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("olympic_results.csv")
df

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162799,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,PL,POL,https://olympics.com/en/athletes/franciszek-bujak,Franciszek BUJAK,NaN,IRM
162800,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,PL,POL,NaN,Henryk Mückenbrunn,NaN,IRM
162801,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Czechoslovakia,CSHH,TCH,NaN,Milda Prokopec,NaN,IRM
162802,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,United States of America,US,USA,NaN,Sigurd Overby,NaN,IRM
162803,Gymnastics Artistic,"26th Federal Festival, Society and Association...",paris-1900,GameTeam,NaN,NaN,NaN,1,France,FR,FRA,NaN,NaN,142 pts,POINTS

In [6]:
# Filtrar apenas linhas com medalhas (remover linhas onde medal_type é vazio)
df_medalhas = df[df['medal_type'].notna()]

# Extrair o ano das Olimpíadas do slug_game (assumindo formato 'cidade-ano')
df_medalhas['year'] = df_medalhas['slug_game'].str.extract(r'-(\d{4})')[0]

# Agrupar por país, tipo de medalha e ano, e contar as ocorrências
medalhas_por_pais = df_medalhas.groupby(['country_name', 'country_code', 'slug_game', 'year', 'medal_type']).size().reset_index(name='count_medals')

# Ordenar os resultados
medalhas_por_pais = medalhas_por_pais.sort_values(['country_name', 'country_code', 'year', 'medal_type', 'slug_game'])

C:\Users\lfama\AppData\Local\Temp\ipykernel_27924\1439443270.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_medalhas['year'] = df_medalhas['slug_game'].str.extract(r'-(\d{4})')[0]

In [7]:
medalhas_por_pais

,country_name,country_code,slug_game,year,medal_type,count_medals
0,Afghanistan,AF,beijing-2008,2008,BRONZE,1
1,Afghanistan,AF,london-2012,2012,BRONZE,1
9,Algeria,DZ,los-angeles-1984,1984,BRONZE,2
4,Algeria,DZ,barcelona-1992,1992,BRONZE,1
5,Algeria,DZ,barcelona-1992,1992,GOLD,1
...,...,...,...,...,...,...
3854,Zimbabwe,ZW,athens-2004,2004,BRONZE,1
3855,Zimbabwe,ZW,athens-2004,2004,GOLD,1
3856,Zimbabwe,ZW,athens-2004,2004,SILVER,1
3857,Zimbabwe,ZW,beijing-2008,2008,GOLD,1
3858,Zimbabwe,ZW,beijing-2008,2008,SILVER,3

In [ ]:
# Salvar em um novo arquivo CSV
medalhas_por_pais.to_csv('../static/medals_by_country.csv', index=False)